{% block footer %}
<footer>
		<div class="footer_bloc">
			<div class="footer_bloc1">
				<a href="/"><img id="logo_footer" src="/../assets/img/FlashMuscu" alt="Logo"></a>
				<div id="ref_bloc2">
					<a href="/exercice/">Nos exercices</a>
					<a href="/">Nous contacter</a>
					<a href="/">A propos</a>
				</div>
			</div>
			<div class="footer_bloc2">
				<div id="logo_footer2">
					<a href=""><img src="/../assets/img/github.png" alt="Logo"></a>
					<a href=""><img src="/../assets/img/insta.png" alt="Logo"></a>
					<a href=""><img src="/../assets/img/linkedIn.png" alt="Logo"></a>
				</div>
				<div id="ref_bloc2">
					<a href="/">Mentions légales</a>
					<a href="/">Confidentialité</a>
					<a href="/">Conditions d'utilisation</a>
				</div>
			</div>
		</div>
</footer>
{% endblock %}